# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
env/

# Data artifacts
/data/raw/*
!/data/raw/.gitkeep
/data/processed/*
!/data/processed/.gitkeep
/data/artifacts/*
!/data/artifacts/.gitkeep
/data/models/*
!/data/models/.gitkeep

# Tooling
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
